<h2>Reactive validations</h2>
<hr>
<div class="row">
    <div class="col">
        <form action="" [formGroup]='myForm' (ngSubmit)="submitForm()">
            <!-- Name -->
            <div class="row mb-3">
                <label for="" class="col-3 col-form-label">Name</label>
                <div class="col-9">
                    <input 
                        type="text" 
                        formControlName="name" 
                        placeholder="Name" 
                        class="form-control">
                    <span class="form-text text-danger" *ngIf="isValid('name')">
                        It should be fullname
                    </span>
                </div>

            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label for="" class="col-3 col-form-label">Email</label>
                <div class="col-9">
                    <input 
                        type="email" 
                        placeholder="email" 
                        formControlName="email" 
                        class="form-control">
                         <span class="form-text text-danger" *ngIf="isValid('email')">
                            {{emailErrorMsg}}
                        </span>
                        <!--<span class="form-text text-danger" *ngIf="emailPattern()">
                            Email pattern
                        </span>
                        <span class="form-text text-danger" *ngIf="emailTaken()">
                            Email has taken
                        </span> -->
                </div>
            </div>

             <!-- Username -->
             <div class="row mb-3">
                <label for="" class="col-3 col-form-label">Username</label>
                <div class="col-9">
                    <input 
                        type="text" 
                        formControlName="username" 
                        placeholder="username" 
                        class="form-control">
                        <span class="form-text text-danger" *ngIf="isValid('username')">
                                Username cannot be Marco
                            </span>
                </div>
            </div>

             <!-- Password -->
             <div class="row mb-3">
                <label for="" class="col-3 col-form-label">Password</label>
                <div class="col-9">
                    <input 
                        type="password" 
                        formControlName="password" 
                        placeholder="sdfgh" 
                        class="form-control">
                        <span class="form-text text-danger" *ngIf="isValid('password')">
                               Password min 6 length
                            </span>
                </div>
            </div>

            <!-- Confirm Password -->
            <div class="row mb-3">
                <label for="" class="col-3 col-form-label">Confirm Password</label>
                <div class="col-9">
                    <input 
                        type="password" 
                        formControlName="confirmPass"                         
                        placeholder="same password" 
                        class="form-control">
                        <span class="form-text text-danger" *ngIf="isValid('confirmPass')">
                                Passwords do not match
                             </span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary" [disabled]="myForm.pending">
                        Save
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>

<h2>Form valid: {{ myForm.valid | json}} </h2>
<pre>Form status: {{ myForm.status | json}} </pre>

<pre>Form valid: {{ myForm.errors | json}} </pre>
<pre>name errors: {{ myForm.controls['name'].errors | json}} </pre>
<pre>email errors: {{ myForm.controls['email'].errors | json}} </pre>
<pre>username errors: {{ myForm.controls['username'].errors | json}} </pre>
<pre>password errors: {{ myForm.controls['password'].errors | json}} </pre>

<pre>username errors: {{ myForm.controls['confirmPass'].errors | json}} </pre>



